.edit-item-title {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid transparent;
    margin: 10px 0;
    padding: 5px 2px;
}

.edit-item-title:hover {
    border: 1px solid #c0c0c0;
}

.edit-item-title:focus {
    border: 1px solid #333333;
}

.edit-item-image {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
}