div {
  position: relative;
  display: block;
}

.grid {
  margin: 20px auto;
  width: 800px;
  padding: 20px;
  border: 2px solid #c0c0c0;
  overflow: auto;
  border-radius: 4px;
  background-color: #eeeeee;
}

.item {
  width: 180px;
  height: 180px;
  margin: 20px;
  background-color: #0000ff;
  border-radius: 4px;
  float: left;
  color: #ffffff;
  padding: 10px;
}

.active-drag-item {
  opacity: 0.6;
}

.active-drop-zone {
  background-color: #fff000;
  color: #000000;
}

#dropper{
  width:100%;
  height: 200px;
  background-color: #ff0000;
}