body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

div {
  position: relative;
  display: block;
}

.grid {
  margin: 20px auto;
  width: 800px;
  padding: 20px;
  border: 2px solid #c0c0c0;
  overflow: auto;
  border-radius: 4px;
  background-color: #eeeeee;
}

h1 {
  text-align: center;
  color: #333333;
}

#dropper{
  width:100%;
  height: 200px;
  background-color: #ff0000;
}

.file-drop-handler {
  width: 100%;
  height: 100%;
}

.viewer{
  text-align: center;
}

.viewer nav {
  margin: 20px;
}